@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  
}
::selection {
  background: #000;
  color: #fff; }

  body:after {
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out; }

.header {
  background-color: #0f1624;
  height: 100vh;
  color: black;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

/* ////........Navbar.......//// */

.navbar1 {
  position: fixed;
  width: 100%;
  z-index: 500;
  background-color: #0f1624;
}

.navbar1-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

.menu-items {
  display: flex;
}

.menu-items li {
  list-style: none;
  padding: 1rem;
}

.menu-items a {
  text-decoration: none;
  color: #f0f0e6;
  font-size: 1.2rem;
  padding: 0.3rem;
}

/* .menu-items a:hover {
  border-bottom: 2px solid #f0f0e6;
} */

.navbar1 .logo {
  order: 1;
  color: #f0f0e6;
  font-size: 2rem;
}

/* ////........Home Content........//// */

.home-content{
  width: 100%;
  /* background-color: red; */
  padding-top: 100px;
  position: relative;
  height: calc(100vh - 64px);
}


.home-content .name {
  position: absolute;
  top: 30%;
  left: 100px;
  /* transform: translate(-50%, -50%); */
  color: white;
}

.resume-download{
  
  width: 16%;
position: absolute;
left: 8%;
top: 47%;
display: flex;
flex-direction: row;
justify-content: space-between;
text-align: center;
text-decoration: none;

}

/* .resume-download .btn {
  padding: .5rem 1rem;
  font-size: 1rem;
  border-radius: 10.3rem;
} */

.resume-download a{
  background-color: #0d6efd;
  border-radius: 3%;
  text-decoration: none;
  color: white;
  
  height: 100%;
  font-size: large;
  padding: .4rem;
  border-radius: 5px;
}



.resume-download a:hover{
  background-color: #000;
  cursor: pointer;
}
.resume-download a:active{
  background-color: #000;
  cursor: pointer;
}

.img-face {
  position: absolute;
  right: 30px;
  top: 10%;
  z-index: 100;
  max-width: 950px;
  height: 80%;
  width: 50%;
}


img, svg {
  vertical-align: middle;
  width: 64px;
  
}
.social-icons{
  position: absolute;
  top: 56%;
  left: 114px; 
}

/* .home-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
.home-content .name h1 {
  font-size: 2.2rem;
}

.home-content .name p {
  color: white;
  font-size: 1.5rem;
}

.angle-down-icon {
  position: absolute;
  bottom: 5%;
  left: 40%;
  /* transform: translate(-50%, -50%); */
  font-size: 2rem;
  border: 3px solid #0077b5;
  border-radius: 50%;
  z-index: 1000x  ;
}


.angle-down-icon a {
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.angle-down-icon a i{
  transition: .5s ease;
  position: relative;
  animation: bounce 2s linear infinite;
}

@keyframes bounce{
  0%{
    bottom: 10%;
  }
  50%{
    bottom: -5%;
  }
  100%{
    bottom: 10%;
  }
}

/* ////........About Me........//// */

.about-me {
  background-color: #0f1624;
  padding: 6rem 0;
  height: 101vh;
}

.about-me .about-heading {
  color: #0f1624;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

.about-content img {
  height: 200px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.about-content p {
  font-size: 1.2rem;
  color: #f0f0e6;
  padding: 0 2.3rem;
  text-align: center;
}

.skills .skills-heading {
  font-size: 2rem;
  font-weight: 600;
  color: white;
  text-align: center;
}

.about-me .about-content {
  display: flex;
  /* flex-wrap: wrap; */
}

.about-content .left-content {
  flex-basis: 45%;
  text-align: center;
}

.about-content .right-content {
  flex-basis: 45%;
}

/* ///.....Skill Bar....../// */

.skills-bar {
  padding: 25px 30px;
}

.skills-bar .bar {
  margin: 25px 0;
}

.skills-bar .bar .info span {
  font-size: 1rem;
  font-weight: 500;
}

.skills-bar .bar .info {
  margin-bottom: 8px;
  color: #f0f0e6;
}

.skills-bar .bar .progress-line {
  position: relative;
  height: 10px;
  width: 550px;
  background: #f0f0f0;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.bar .progress-line span {
  position: absolute;
  background: #458efa;
  height: 100%;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}

.progress-line .html {
  width: 99%;
}
.progress-line .css {
  width: 99%;
}
.progress-line .bootstrap {
  width: 80%;
}
.progress-line .javascript {
  width: 90%;
}
.progress-line .angular {
  width: 80%;
}

.bar .progress-line span::before {
  position: absolute;
  content: "";
  height: 0;
  right: 0;
  top: -12px;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-style: #f0f0f0;
  border-top-color: #f0f0f0;
}

.bar .progress-line span::after {
  position: absolute;
  right: 0;
  top: -28px;
  color: black;
  font-size: 12px;
  font-weight: 700;
  background: #f0f0f0;
  padding: 1px 8px;
  border-radius: 3px;
}

.progress-line .html::after {
  content: "99%";
}
.progress-line .css::after {
  content: "99%";
}
.progress-line .bootstrap::after {
  content: "80%";
}
.progress-line .javascript::after {
  content: "90%";
}
.progress-line .angular::after {
  content: "80%";
}

/* --------------Process Line 2  for right bottom----------- */
.bar2 .progress-line2 {
  position: relative;
  height: 10px;
  width: 550px;
  background: white;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.bar2 .progress-line2 span {
  position: absolute;
  background:#0d6efd;
  height: 100%;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}

.progress-line2 .html {
  width: 99%;
}
.progress-line2 .css {
  width: 99%;
}
.progress-line2 .bootstrap {
  width: 80%;
}
.progress-line2 .javascript {
  width: 90%;
}
.progress-line2 .angular {
  width: 80%;
}

.bar2 .progress-line2 span::before {
  position: absolute;
  content: "";
  height: 0;
  right: 0;
  top: -12px;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-style: #f0f0f0;
  border-top-color: #f0f0f0;
}

.bar2 .progress-line2 span::after {
  position: absolute;
  right: 0;
  top: -28px;
  color: black;
  font-size: 12px;
  font-weight: 700;
  background: #f0f0f0;
  padding: 1px 8px;
  border-radius: 3px;
}

.progress-line2 .html::after {
  content: "99%";
}
.progress-line2 .css::after {
  content: "99%";
}
.progress-line2 .bootstrap::after {
  content: "80%";
}
.progress-line2 .javascript::after {
  content: "90%";
}
.progress-line2 .angular::after {
  content: "80%";
}

.more-skills .bar2 {
  margin: 25px;
}
.more-skills .bar2 .info2 span {
  font-size: 1rem;
  font-weight: 500;
}

.more-skills .bar2 .info2 {
  margin-bottom: 8px;
  color: #f0f0e6;
}

.more-skills .bar2 .progress-line2 {
  position: relative;
  height: 10px;
  width: 550px;
  background: #f0f0f0;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.bar2 .progress-line2 span {
  position: absolute;
  background: #0d6efd;
  height: 100%;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}

.bar2 .progress-line2 span::before {
  position: absolute;
  content: "";
  height: 0;
  right: 0;
  top: -12px;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-style: #f0f0f0;
  border-top-color: #f0f0f0;
}

.bar2 .progress-line2 span::after {
  position: absolute;
  right: 0;
  top: -28px;
  color: black;
  font-size: 12px;
  font-weight: 700;
  background: #f0f0f0;
  padding: 1px 8px;
  border-radius: 3px;
}
/* ------------End Process Line 2  for right bottom------------ */
.navbar1.solid {
  background-color: #0f1624;
  transition: background-color 1s ease 0s;
  box-shadow: 0 0 4px rgb(7 55 74 / 20%);
  z-index: 500;
}

.navbar1.solid .navbar1-brand {
  display: inline-block;
  color: #f0f0e6;
  transition: color 1s ease 0s;
}

.navbar1-brand {
  display: none;
  color: #f0f0e6;
  font-weight: 400;
}

.work-arrow {
  margin: 2rem 0;
}

.work-arrow a {
  font-size: 1rem;
  text-decoration: none;
  color: white;
}

.work-arrow-2 {
  margin: 2rem 0;
}

.work-arrow-2 a {
  font-size: 1rem;
  text-decoration: none;
  color: white;
  display: none;
}

/* ----------more-skills--------- */
.more-skills {
  background: goldenrod;
  width: 180vh;
  height: 81vh;
  margin-left: 6%;
  position: absolute;
  top: 110%;
  z-index: 5;
  padding-top: 120px;
  box-shadow: inset 0 0 200px rgba(0, 0, 0, 0.2);
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  margin-left: -40px;
  padding-left: 50px;
  transition: transform 0.5s ease-in-out;
  overflow-y: scroll;
  border-radius: 20px;
  padding: 20%;
}
.right-side-top-skills {
  position: absolute;
  top: 4%;
  left: 50%;
}

.right-side-bottom-skills {
  position: absolute;
  top: 72%;
  left: 52%;
}

.more-skills {
  padding: 25px 30px;
}

.more-skills .bar2 {
  margin: 25px;
}
.more-skills .bar2 .info2 span {
  font-size: 1rem;
  font-weight: 500;
}

.more-skills .bar2 .info2 {
  margin-bottom: 8px;
  color: #f0f0e6;
}

.more-skills .bar2 .progress-line2 {
  position: relative;
  height: 10px;
  width: 550px;
  background: #f0f0f0;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.bar2 .progress-line2 span {
  position: absolute;
  background: #0d6efd;
  height: 100%;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}

.bar2 .progress-line2 span::before {
  position: absolute;
  content: "";
  height: 0;
  right: 0;
  top: -12px;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-style: #f0f0f0;
  border-top-color: #f0f0f0;
}

.bar2 .progress-line2 span::after {
  position: absolute;
  right: 0;
  top: -28px;
  color: #0f1624;
  font-size: 12px;
  font-weight: 700;
  background: #f0f0f0;
  padding: 1px 8px;
  border-radius: 3px;
}

/* -------More skills transection--------- */

.show-skills .p {
  position: absolute;
  left: 63%;
  font-size: 2rem;
  font-weight: 600;
  color: #0f1624;
  text-align: center;
}

.show-skills .checkbox {
  position: absolute;
  display: block;
  height: 79px;
  width: 69px;
  top: 1316px;
  left: 978px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

#show-more {
  font-size: 2rem;
  font-weight: 600;
  color: white;
  border: none;
  background-color: #0f1624;
  cursor: pointer;
  position: absolute;
  position: absolute;
  left: 60%;
  top: 180%;
  font-family: "Poppins", sans-serif;
}
.testbtn {
  width: 10vh;
  height: 10vh;
  position: absolute;
  left: 95.5%;
  top: -2%;
  font-size: 2rem;
  text-align: center;
  background: none;
  border: none;
  cursor: pointer;
  color: #25b79f;
  z-index: 1000;
}

/* ////.....Portfolio......///// */

.portfolio {
  background:#0f1624;
  padding: 6rem 0;
  height: 100vh;
}

.proj-heading h1 {
  text-align: center;
  color: white;
  font-size: 2.3rem;
  font-weight: 700;
  margin: 3rem 0;
}

.proj-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 12%;
  top: 9%;
}

.proj-1 img {
  height: 350px;
  width: 300px;
  object-fit: cover;
  border-radius: 10%;
  box-shadow: 0 20px 10px -10px rgb(37 41 52 / 31%);
  margin-right: 1.7rem;
}

.proj-1 .proj1-details {
  width: 32rem;
}

.proj-1 .proj1-details i {
  font-size: 1.5rem;
  color: white;
}

.proj-1 .proj1-details h2 {
  font-size: 2rem;
  color: white;
}

.proj-1 .proj1-details p {
  font-size: 1.3rem;
  color: white;
  font-weight: 600;
}

.proj-1 .proj1-details button {
  background: #0f1624;
  padding: 0.5rem;
  margin-top: 0.5rem;
  width: 150px;
  border: none;
  border-bottom: 2px solid #0f1624;
}

.proj-1 .proj1-details button a {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  transition: 0.2s ease-in-out;
  text-align: center;
  transition: 0.3s ease-in-out;
}

.proj-1 .proj1-details button .fas {
  font-size: 0.7rem;
  padding: 0.3rem;
  transition: 0.2s ease-in-out;
}

.proj-1 .proj1-details button:hover {
  background: #0077b5;
}

.proj-1 .proj1-details button:hover a,
.proj-1 .proj1-details button:hover .fas {
  color: #f0f0e6;
}

/* ////.....proj2.....//// */

.proj-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  position: absolute;
  left: 19%;
  top: -15%;
}

.proj-2 img {
  height: 350px;
  width: 300px;
  object-fit: cover;
  border-radius: 10%;
  box-shadow: 0 20px 10px -10px rgb(37 41 52 / 31%);
  margin-right: 1.7rem;
}

.proj-2 .proj2-details {
  width: 32rem;
}

.proj-2 .proj2-details i {
  font-size: 1.5rem;
  color: white;
}

.proj-2 .proj2-details h2 {
  font-size: 2rem;
  color: white;
}

.proj-2 .proj2-details p {
  font-size: 1.3rem;
  color: white;
  font-weight: 600;
}

.proj-2 .proj2-details button {
  background: #0f1624;
  padding: 0.5rem;
  margin-top: 0.5rem;
  width: 150px;
  border: none;
  border-bottom: 2px solid #0f1624;
}

.proj-2 .proj2-details button a {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  transition: 0.2s ease-in-out;
  text-align: center;
  transition: 0.3s ease-in-out;
}

.proj-2 .proj2-details button .fas {
  font-size: 0.7rem;
  padding: 0.3rem;
  transition: 0.2s ease-in-out;
}

.proj-2 .proj2-details button:hover {
  background: #0077b5;
}

.proj-2 .proj2-details button:hover a,
.proj-2 .proj2-details button:hover .fas {
  color: white;
}

/* ////.....proj3.....//// */

.proj-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  position: absolute;
  left: 19%;
  top: -15%;
}

.proj-3 img {
  height: 350px;
  width: 300px;
  object-fit: cover;
  border-radius: 10%;
  box-shadow: 0 20px 10px -10px rgb(37 41 52 / 31%);
  margin-right: 1.7rem;
}

.proj-3 .proj3-details {
  width: 32rem;
}

.proj-3 .proj3-details i {
  font-size: 1.5rem;
  color: white;
}

.proj-3 .proj3-details h2 {
  font-size: 2rem;
  color: white;
}

.proj-3 .proj3-details p {
  font-size: 1.3rem;
  color: white;
  font-weight: 600;
}

.proj-3 .proj3-details button {
  background: #0f1624;
  padding: 0.5rem;
  margin-top: 0.5rem;
  width: 150px;
  border: none;
  border-bottom: 2px solid #0f1624;
}

.proj-3 .proj3-details button a {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  transition: 0.2s ease-in-out;
  text-align: center;
  transition: 0.3s ease-in-out;
}

.proj-3 .proj3-details button .fas {
  font-size: 0.7rem;
  padding: 0.3rem;
  transition: 0.2s ease-in-out;
}

.proj-3 .proj3-details button:hover {
  background: #0077b5;
}

.proj-3 .proj3-details button:hover a,
.proj-3 .proj3-details button:hover .fas {
  color: white;
}

/* ////......Contact......///// */
.contact{
  width:100%;
  height: 100vh;
  display: flex;
  
  
}

.left-contact{
  width:50%;
  background-color: rgba(166, 191, 190, 0.199);
  color: black;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.contact a{
  text-decoration: none;
  color: black;
}

.contact a:hover{
  color: red;
}

.email-text{
   display: flex;
}

.get-in-touch{
  height:20%
}

.right-contact{
  width:50%;
  background-color: #818cde;
  color: white;
  
}
.top-form{
  margin: 1% 20% 20% 20%;
  
}
.top-img{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 21%;
  margin: 1% 20% -2% 20%;
}
.top-img img{
  padding-left: 10px  ;
}
.top-img h1{
  color: black;
  font-family:'Courier New', Courier, monospace
}
.contact-img{
  width: 60%;
  height:15%;
  margin-left: 152px;
}

.msg-icon{
  width: 57px;
  height: 42px;
  mix-blend-mode: multiply;
}
.top-div{
  display: flex;
}


 /* Style inputs with type="text", select elements and textareas */
 input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #0f1624;
}

/* Add a background color and some padding around the form */


/* ------Social Media Icons Bottom---- */
.social-menu{
  margin-top: 20px;
 

}
.social-menu ul { 

  display: flex;
}

.social-menu ul li {
  list-style: none;
  margin: 0 15px;
}

.social-menu ul li .fab {
  font-size: 30px;
  line-height: 60px;
  transition: 0.3s;
  color: #000;
}

.social-menu ul li .fab:hover {
  color: #25b79f;
}

.social-menu ul li a {
  /* position: relative; */
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  transition: 0.6s;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
}

.social-menu ul li a:hover {
  transform: translate(0, -10%);
}

.social-menu ul li:nth-child(1) a:hover {
  background-color: rgba(0, 0, 0, 0.829);
}
.social-menu ul li:nth-child(2) a:hover {
  background-color: #e4405f;
}
.social-menu ul li:nth-child(3) a:hover {
  background-color: #0077b5;
}
.social-menu ul li:nth-child(4) a:hover {
  background-color: #000;
}
.carousel {
  width: 70%;
  margin: 0 auto;
  height: 400px;
}

.carousel-cell {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: absolute;
  background: #0f1624;
  border: none;
}

/* big buttons, no circle */
.flickity-prev-next-button {
  width: 100px;
  height: 100px;
  background: transparent;
}
/* arrow color */
.flickity-prev-next-button .arrow {
  fill: black;
}
.flickity-prev-next-button.no-svg {
  color: black;
}
.flickity-prev-next-button:hover {
  background: transparent;
}
/* hide disabled button */
.flickity-prev-next-button:disabled {
  display: none;
}


/* @media (max-width:1200px){
  html{
    font-size: 90%;
  }
  .skills{
    width: 50%;
    height:50%
  }
  #show-more{
    position: absolute;
    top: inherit;
    left: 65%;
  }

.skills .skills-heading {
  position: absolute;
  top: inherit;
  left:65%
}
.about-me{
  height: 70vh;
}

.img-face{
  width: 50%;
  margin-right: 6%;
}
.social-icons{
  position: absolute;
  left:77px
}
.flickity-prev-next-button {
  left:100%
}
.contact-img{
  margin-left: 121px;
}
} */

@media (max-width:1100px){

}

/* ////......Media query......//// */
/* 
@media (max-width: 500px) {
  html {
    font-size: 60%;
  }

  .about-content .left-content {
    flex-basis: 100%;
    text-align: center;
  }

  .about-content .right-content {
    flex-basis: 100%;
  }

  .skills {
    width: 100%;
  }

  .skills-bar .bar .progress-line {
    width: 100%;
  }

  .work-arrow {
    display: none;
  }

  .right-content h1 {
    margin-top: 3.2rem;
  }

.proj-1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    left: 12%;
    top: 9%;
  }

  .proj-1 img {
    height: 230px;
    width: 290px;
    margin-bottom: 0.5rem;
  }
  
  .proj-2{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .proj-2 img {
    height: 250px;
    width: 290px;
    margin-bottom: 0.5rem;
  }

  .work-arrow-2 a {
    font-size: 1.3rem;
    text-decoration: none;
    color: #25b79f;
    display: block;
    text-align: center;
  }

  .contact-content {
    width: 100%;
  }
}

@media (min-width: 501px) and (max-width: 768px) {
  html {
    font-size: 65%;
  }

  .about-content .left-content {
    flex-basis: 100%;
    text-align: center;
  }

  .about-content .right-content {
    flex-basis: 100%;
  }

  .skills {
    width: 100%;
  }

  .skills-bar .bar .progress-line {
    width: 100%;
  }

  .work-arrow {
    display: none;
  }

  .right-content h1 {
    margin-top: 3.2rem;
  }

  .proj-1{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .proj-1 img {
    height: 240px;
    width: 290px;
    margin-bottom: 0.5rem;
  }
  
  .proj-2{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .proj-2 img {
    height: 240px;
    width: 290px;
    margin-bottom: 0.5rem;
  }

  .work-arrow-2 a {
    font-size: 1.3rem;
    text-decoration: none;
    color: #25b79f;
    display: block;
    text-align: center;
  }

  .contact-content {
    width: 100%;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  html {
    font-size: 70%;
  }

  .about-content .left-content {
    flex-basis: 100%;
    text-align: center;
  }

  .about-content .right-content {
    flex-basis: 100%;
  }

  .skills {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .work-arrow {
    display: none;
  }

  .left-content h1 {
    margin-top: 3.2rem;
    text-align: center;
  }

  .right-content h1 {
    margin-top: 3.2rem;
    text-align: center;
  }

  .work-arrow-2 a {
    font-size: 1.3rem;
    text-decoration: none;
    color: #25b79f;
    display: block;
    text-align: center;
  }

  .contact-content {
    width: 100%;
  }
}

@media (orientation: landscape) and (max-height: 500px) {
  .header {
    height: 90vmax;
  }
}


 */


 @media 
